
.container {
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  height: 100vh;       /* Full height of the viewport */
  margin:0;
  
  background-color: #f9f9f9; /* Optional styling */
  
}

.centercontainer {
  
  padding: 2rem;
  background-color: white; /* Optional: to make the box stand out */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: solid black;
}
.Email{
    border: solid black;
    border-radius:5px;
    margin: 10px;
    width: 500px;        /* Make it wider */
  height: 40px;        /* Make it taller */
  font-size: 16px;     /* Bigger text inside */
  padding: 8px 12px;   /* Optional: more spacing inside */
}

.title{
    font-size: 20px;
    font-weight: bold;

}
.firstline{
     height: 1px;               /* Thickness */
  background-color: black;   /* Color */
  border: none;              /* Remove default border */
  margin: 1rem 0;            /* Optional spacing */
}
.paragraph{
    font-size: 20px
}
button.btnone, button.btntwo {
    
  
  gap: 30px;      
  
  padding: 10px 20px;
  font-size: 14px;
  border: solid;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  gap: 10px;
}

.btnone {
  background-color: blue;
  color: white;
}

.btntwo {
  background-color: white;
  color: black;
  border: solid black;
  margin: 10px;
}
