.forme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full screen height */
  background-color: #f9f9f9;
  margin: 80px;
  
}

/* Style the form itself */
.formulaire {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 12px;
  background-color: #ffffff;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formulaire label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.formulaire input,
.formulaire textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}


.formulaire button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.formulaire button:hover {
  background-color: #0056b3;
}
.p{
    text-align: center;
}
a{
    color:#007bff

}
a:hover{
  text-decoration: underline;

}